<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings />
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

	<!--
	<location allowOverride="true" path="/App_Modules__T-Com.maxtvCms.Modules__TCom.maxtvCms.Modules.MAXtvToGo.MAXtvToGoControl.asmx">
		<system.webServer>
			<httpProtocol>
				<customHeaders>
					<remove name="Cache-Control"/>
					<add name="Cache-Control" value="no-cache"/>
					<add name="Pragma" value="no-cache" />
				</customHeaders>
			</httpProtocol>
		</system.webServer>
	</location>
	-->

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
